@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-Bold.eot');
    src: url('../fonts/subset-Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Roboto-Bold.woff2') format('woff2'),
        url('../fonts/subset-Roboto-Bold.woff') format('woff'),
        url('../fonts/subset-Roboto-Bold.ttf') format('truetype'),
        url('../fonts/subset-Roboto-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/dehinted-subset-Roboto-Medium.eot');
    src: url('../fonts/dehinted-subset-Roboto-Medium.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/dehinted-subset-Roboto-Medium.woff2') format('woff2'), 
        url('../fonts/dehinted-subset-Roboto-Medium.woff') format('woff'), 
        url('../fonts/dehinted-subset-Roboto-Medium.ttf') format('truetype'), 
        url('../fonts/dehinted-subset-Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/dehinted-subset-Roboto-Regular.eot');
    src: url('../fonts/dehinted-subset-Roboto-Regular.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/dehinted-subset-Roboto-Regular.woff2') format('woff2'), 
        url('../fonts/dehinted-subset-Roboto-Regular.woff') format('woff'), 
        url('../fonts/dehinted-subset-Roboto-Regular.ttf') format('truetype'), 
        url('../fonts/dehinted-subset-Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.clearfix:after {
    content: ".";
    clear: both;
    visibility: hidden;
    display: block;
    height: 0;
}

.top {
    background-color: rgba(239, 239, 239, 1);
    padding: 17px 0px;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.navbar {
    text-align: center;
}

.link {
    text-decoration-line: none;
    color: rgba(51, 51, 51, 1);
}

.contact {
    margin-right: 30px;
    display: inline-block;
    vertical-align: top;
}

.middle {
    background-color: rgba(255, 255, 255, 1);
    padding: 20px 0px 19px;
    border-bottom: 1px solid rgba(239, 239, 239, 1);
}

.emblem {
    float: left;
    margin-right: 20px;
}

.push {
    float: left;
    padding: 25px 0 0 0;
}

.block {
    float: right;
    padding: 20px 0px 0px 0px;
}

.num {
    float: left;
    padding: 11px 0px 0px 0px;
    margin-right: 40px;
}

.number {
    line-height: 19px;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    text-decoration-line: none;
}

.call {
    float: left;
    border-color: rgba(241, 60, 110, 1);
    background-color: rgba(255, 255, 255, 1);
    padding: 10px 26px 10px;
    border-radius: 40px;
    border-style: solid;
    cursor: pointer;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.call:active {
    transform: translateY(1px);
}

.menu {
    margin-right: 40px;
}

.higher {
    line-height: 19px;
    color: rgba(0, 0, 0, 1);
}

.bottom {
    padding: 30px 0;
}

.background {
    background-image: url('../images/background.png');
    background-color: rgba(241, 60, 110, 1);
    background-repeat: no-repeat;
    background-position: center;
    padding: 189px 0 190px 0;
}

.advert {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 41px;
}

.description {
    width: 308px;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 48px;
}

.details {
    text-decoration-line: none;
    letter-spacing: 0.05em;
    color:rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 40px;
    display: inline-block;
    padding: 10px 26px 10px 27px;
}

.cards {
    background-color: rgba(239, 239, 239, 1);
    padding: 80px 0 80px 0;
}

.offers {
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 39px;
}

.item {
    width: 255px;
    background-color: rgba(255, 255, 255, 1);
    float: left;
    margin-right: 30px;
    padding: 25px 0;
}

.chair-wrap {
    padding: 0px 65px 16px;
}

.chair {
    display: block;
}

.desc {
    padding: 0 30px 0;
}

.card-text {
    color: rgba(51, 51, 51, 1);
    line-height: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.price {
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    margin-bottom: 16px;
}

.purchase {
    background-color: rgba(241, 60, 110, 1);
    border: none;
    border-radius: 30px;
    padding: 10px 40px 9px 40px;
    margin-left: 32px;
}

.card-list {
    margin-bottom: 100px;
}

.last {
    margin-right: 0;
}

.big-card-wrap {
    margin-bottom: 100px;
}

.big-card {
    background-color: rgba(241, 60, 110, 1);
    width: 540px;
    padding: 34px 45px 34px 40px;
    float: left;
}

.words {
    float: left;
    margin-right: 64px;
}

.envelope-float {
    float: left;
    padding: 18px 0 0;
}

.envelope {
    display: block;
}

.truck {
    padding: 22px 0 0;
}

.car {
    display: block;
}

.ad {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 23px;
    width: 251px;
}

.ad-desc {
    color: rgba(255, 255, 255, 1);
    line-height: 20px;
    width: 231px;
    margin-bottom: 25px;
}

.email {
    padding: 10px 101px 10px 25px;
    border-radius: 30px;
    border-style: none;
    width: 225px;
}

.email::placeholder {
    color: rgba(196, 196, 196, 1);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    width: 225px;
}

.email:focus {
    outline: none;
}

.first {
    margin-right: 30px;
}

.store {
    letter-spacing: normal;
    border-radius: 30px;
    padding: 8px 26px 7px 27px;
}

.less {
    width: 141px;
}

.stores {
    margin-right: 15px;
}

.partner-item {
    float: left;
    width: 25%;
}

.partner {
    background-color: rgba(255, 255, 255, 1);
    padding: 35px 68px 34px 59px;
    border-left: 1px solid rgba(239, 239, 239, 1);
    border-bottom: 1px solid rgba(239, 239, 239, 1);
    display: block;
}

.impuls {
    display: block;
}

.partner-card-list {
    margin-bottom: 80px;
}

.after {
    margin-bottom: 39px;
}

.repeat {
    margin-bottom: 0;
}

.popular-categories {
    padding: 57px 0 55px;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(239, 239, 239, 1)
}

.list-name {
    color: rgba(0, 0, 0, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    width: 99px;
    margin-bottom: 27px;
}

.popular-links {
    color: rgba(130, 130, 130, 1);
    font-size: 12px;
    line-height: 28px;
    text-decoration-line: none;
}

.popular-list {
    border-top: 1px solid rgba(239, 239, 239, 1);
    padding: 20px 0 0 0;
}

.popular-categories-list {
    width: 255px;
    float: left;
    margin-right: 30px;
}

.social-pages-list {
    float: left;
}

.social-page {
    float: left;
    margin-right: 20px;
}

.social-link {
    padding: 13px 9px 12px 9px;
    border: 2px solid rgba(241, 60, 110, 1);
    border-radius: 50px;
    display: block;
}

.social-pic {
    display: block;
}

.vk {
    padding: 13px 6px 12px 6px;
}

.face {
    padding: 11px 15px 10px 14px;
}

.insta {
    padding: 10px 10px 9px 9px;
}

.f-margin {
    margin-right: 16px;
}

.no-margin-right {
    margin-right: 0;
}

.with-social {
    padding: 3px 0 0 0;
}

.social-padding {
    padding: 37px 0 38px;
    border-bottom: none;
}

.info {
    background-color: rgba(239, 239, 239, 1);
    padding: 25px 0 25px;
}

.copyright {
    color: rgba(130, 130, 130, 1);
    font-size: 12px;
    line-height: 14px;
    float: left;
}

.politics {
    color: rgba(130, 130, 130, 1);
    font-size: 12px;
    line-height: 14px;
    float: right;
    text-decoration-line: none;
}
